body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
#container {
    height: 700px;
    width: 900px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#main{
    display: block;
    margin: 10px;
}
table {
    
    margin: auto;
}